.sort {
	color: #ffffff;
	font-size: 20px;
	line-height: 23px;
	background: transparent;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		background-image: url(../assets/img/movies/arrowDown.svg);
		width: 13px;
		height: 8px;
		top: 13px;
		right: 13px;
	}
}
.movie__div {
	height: 412px;
	min-width: 217px;
	max-width: 217px;
	margin-right: 20px;
	position: relative;
	transition: 0.6s;
	&:hover .movie__hover {
		opacity: 1;
		transition: 0.6s;
	}
}
@import "./movieHover";

.movies {
	&__date {
		margin: 48px 30px 0px 0px;
		position: relative;
		display: inline-block;
		&-btn {
			display: inline-block;
			padding: 6px 80px 6px 16px;
			border: 1px solid #ffffff;
			border-radius: 8px;
			cursor: pointer;
		}
	}
	&__genre {
		display: inline-block;
		position: relative;
		&-btn {
			padding: 6px 80px 6px 17px;
			border: 1px solid #ffffff;
			border-radius: 8px;
			width: 212px;
			text-align: start;
			cursor: pointer;
		}
	}
	.sort__popup {
		position: absolute;
		top: 48px;
		left: 0;
		z-index: 2;
		width: 100%;
	}
	.date-menu {
		top: 55px;
	}
	&__list {
		width: 100%;
		padding: 12px 5px 20px 17px;
		display: inline-block;
		border-radius: 8px;
		border: 1px solid #ffffff;
		background-color: #0e0e0e;
		&-link {
			padding-bottom: 9px;
			text-align: start;
			span {
				color: #ffffff;
				font-size: 20px;
				line-height: 23px;
				cursor: pointer;
			}
			span:hover {
				color: #f7c356;
			}
		}
	}
	&__row {
		display: grid;
		grid-template-columns: 223px 223px 223px 223px 223px;
		column-gap: 20px;
		row-gap: 48px;
		padding: 48px 0px 40px 0px;
	}
	&__block {
		display: block;
		width: 100%;
	}
	&__pagination {
		margin: 0px 0px 40px 0px;
		display: flex;
		justify-content: center;
		&-inner {
			display: flex;
			align-items: center;
		}
		.pagination-left,
		.pagination-right {
			width: 20px;
			height: 20px;
			color: #fff;
			fill: #ffffff;
			&:hover {
				fill: #000;
			}
		}
		span {
			margin-right: 12px;
			&:last-child {
				margin-right: 0px;
			}
		}
		&-btn {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 18px;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			border: 2px solid #f7c356;
			cursor: pointer;
			transition: all 0.2s ease-in-out;
			&:hover {
				background-color: #f7c356;
				color: #000;
			}
		}
		.active {
			background-color: #f7c356;
			color: #000;
		}
	}
}
