.avatar__title {
	font-size: 32px;
	line-height: 38px;
	font-weight: 700;
	color: #ffffff;
}

.person {
	padding: 48px 0px 70px 0px;
	&__row {
		display: flex;
		margin-bottom: 48px;
	}
	&__block-img {
		flex: 0 0 282px;
		height: 282px;
		border-radius: 20px;
		background-color: #d9d9d9;
		margin-right: 24px;
		position: relative;
		&::after {
			position: absolute;
			content: "";
			background-image: url(../assets/img/personalAcc/avatar.svg);
			width: 153px;
			height: 173px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	&__info {
		&-name {
			font-size: 32px;
			font-weight: 700;
			line-height: 38px;
		}
		&-mail {
			font-size: 20px;
			line-height: 23px;
			color: #ffffff;
		}
	}
	&__compilation {
		&-title {
			margin-bottom: 30px;
		}
		&-slider {
			display: flex;
			justify-content: center;
			padding-bottom: 32px;
		}
	}
	&__watched {
		&-title {
			margin-bottom: 30px;
		}
		&-slider {
			display: flex;
			justify-content: center;
			padding-bottom: 32px;
		}
	}
	&__block {
		border-radius: 12px;
		width: 223px;
		height: 220px;
		overflow: hidden;
		position: relative;
		border: 1px solid #ffffff;
		margin-right: 20px;
		&:hover .movie__hover {
			opacity: 1;
			transition: 0.6s;
		}
		img {
			width: 100%;
			max-height: 100%;
			object-fit: cover;
		}
	}
	&__empty-slider {
		border: 1px solid #ffffff;
		padding: 10px;
		border-radius: 20px;
		.empty__slider-one,
		.empty__slider-two {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.empty__slider-text {
			font-size: 21px;
			text-align: center;
		}
		.empty__slider-cat {
			margin-left: 7px;
			width: 30px;
			height: 30px;
			img {
				width: 100%;
				height: 100%;
			}
		}
		.empty__slider-svg {
			cursor: pointer;
			width: 28px;
			height: 28px;
			margin-left: 4px;
			fill: #f7c356;
		}
	}
}
